<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="icon" href="documentation/img/az.ico"/>
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <div style="color: white; padding-left: 40px; font-family: 'Staatliches', cursive; font-size: 24px;">
                    ArmaZen 1.0
                </div>
                <div style="padding-right: 40px">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="?op=home">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Usuário
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="?op=manager_user">Listar Usuários</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="?op=insert_user">Cadastrar Usuários</a>
                                </li>
                                <!--<li>
                                    <a class="dropdown-item" href="#">Editar Registro</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Excluir Registro</a>
                                </li>-->
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Produtos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="?op=manager_product">Listar Produto</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="?op=insert_product">Cadastrar Produto</a>
                                </li>
                                <!--<li>
                                    <a class="dropdown-item" href="#">Excluir Registro</a>
                                </li>-->
                            </ul>
                        </li>
                        <!--<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Fornecedores
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#">Cadastrar Fornecedor</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Editar Registro</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Excluir Registro</a>
                                </li>
                            </ul>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" href="controllers/logout.php">Sair</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="page">
            <?php
                page_content();
            ?>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </body>
</html>
