<div style="margin-top: 100px;" class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div style="text-align: center;" class="col-5">
            <h1>Excluir usuário</h1><br>
            <form action="<?=$GLOBALS['project_index'];?>controllers/users/users.php" method="POST">
                <input type="hidden" name="action" value="delete">                
                <input type="hidden" name="id_user" value="<?=$user[0]['id_user'];?>">                
                <label class="form-label"><strong>Tem certeza que deseja Deletar o usuário? Essa operação não poderá ser desfeita.</strong></label><br><br>
                <div class="buttons" name="buttons">
                    <button class="btn btn-success" value="true">Sim </button>
                    <a class="btn btn-secondary" href="?op=manager_user">Voltar </a>
                </div>
            </form>
        </div>
    </div>
</div>