<div style="margin-top: 100px;" class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-5">
            <h1>Alteração de Usuário</h1><br>
            <form action="<?=$GLOBALS['project_index'];?>controllers/users/users.php" method="POST">
                <input type="hidden" name="action" value="edit">
                <input type="hidden" name="id_user" value="<?=$user[0]['id_user'];?>">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control" name="user_name" placeholder="Nome" value="<?=$user[0]['user_name'];?>"><br>
                <label class="form-label">Endereço de email</label>
                <input type="email" class="form-control" name="user_email" placeholder="Email" value="<?=$user[0]['user_email'];?>"><br>
                <label class="form-label">Senha</label>
                <input type="password" class="form-control" name="user_password" placeholder="Nova senha"><br><br>
                <div class="d-flex justify-content-around m-auto w-50">
                    <div class="">
                        <button class="btn btn-success">Editar <i class="bi bi-pencil-square"></i></button>
                    </div>
                    <div class="">
                        <a href="admin.php?op=manager_user" class="btn btn-secondary">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>